@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* MENU */
header{
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 220px;
}

.logo{
  font-family: "Lobster", sans-serif;
  width: auto;
  margin-left: 20px;
  font-size: 45px;
}

.logo a{
  color: white;
  text-decoration: none;
}

.menu{
  display: inline-block;
  text-align: center;
  margin-right: 25px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  color: white;
  padding: 0 20px;
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
}

.efect{
  position: relative;
}

.efect::after{
  content: "";
  position: absolute;
  background-color: #951B05;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.efect:hover{
  color: #951B05;
}

.efect:hover::after{
  width: 100%;
}

.active{
  font-weight: bold;
}

.imagen-fondo{
  background-image: url(../img/header-img.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* MENU. */

/* CARRUSEL */
.carrousel{
  width: 100%;
  padding: 30px;
}

.conteCarrousel{
  width: 50%;
  height: 450px;
  overflow: hidden;
}

.itemCarrousel{
  position: relative;
  width: 100%;
  height: 100%;
}

.itemCarrouselArrows{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px; 
}


#itemCarrousel-1{
  background-image: url(../img/casa1/casa.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#itemCarrousel-2{
  background-image: url(../img/casa1/ascensor.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}

#itemCarrousel-3{
  background-image: url(../img/casa1/armario.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#itemCarrousel-4{
  background-image: url(../img/casa1/bano.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#itemCarrousel-5{
  background-image: url(../img/casa1/cocina.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#itemCarrousel-6{
  background-image: url(../img/casa1/cocina2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#itemCarrousel-7{
  background-image: url(../img/casa1/ducha.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#itemCarrousel-8{
  background-image: url(../img/casa1/entrada.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#itemCarrousel-9{
  background-image: url(../img/casa1/jacuzzi-sauna.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
#itemCarrousel-10{
  background-image: url(../img/casa1/terraza.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.itemCarrouselArrows > a > i{
  color: white;
}
/* CARRUSEL */

/* TEXTO */
.texto{
  width: 500px;
  height: 448px;
  position: absolute;
  top: 320px;
  left: 750px;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding-top: 20px;
  display: inline-block;
  position: relative;
  font-size: 20px;
}
h1::before{
  content: "";
  position: absolute;
  width: 520px;
  height: 1px;
  background-color: black;
  top: 70px;
}
h1::before{
  left: 0px;
}

.ciudad{
  padding-top: 20px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}
.precio{
  padding-top: 50px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 32px;
  float: right
}
/* TEXTO */
.descripcion{
  width: 100%;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  margin-bottom: 15px;
}
.descripcion h3{
  padding-bottom: 10px;
  font-size: 23px;
}
.descripcion p{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 25px;

}
/* ICONOS */
.detalles{
  width: 250px;
  height: auto;
  padding: 25px;
}
.icono img{
  width: 50px;
  height: auto;
  display: flex;
  margin: 15px;
}

.texto-icono{
  text-align: center;
}
/* ICONOS. */
/* BOTON */
.btn-container{
padding-top: 50px;
margin-top: 68px;
align-items: right;
justify-content: right;
}

.btn{
  width: 175px;
  height: 60px;
  background-color: #951B05;
  color: white;
  font-size: 20px;
  font-weight: 500;
  border: none;
  cursor: pointer;
  text-transform: uppercase;
  transition: .3s ease all;
  border-radius: 5px;
  position: relative;
  overflow: hidden;
  float: right;
}

.btn span{
  position: relative;
  z-index: 2;
  transition: .3s ease all;
}
/* BOTON. */

/* FOOTER */
footer{
    background-color: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
  }
  
  .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14;
  }
  
  .footer-container h3{
    font-family: "Lobster";
    font-size: 30px;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: white;
  }
  .socials a i{
    font-size: 1.1rem;
  }
  
  .socials a:hover i{
    color: skyblue;
  }
  
  .footer-bottom{
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  .footer-politica{
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-politica a{
    font-size: 16px;
    color: white
  }
  .footer-politica a:hover{
    text-decoration: underline
  }
  /* FOOTER. */