@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/* MENU */
header{
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 620px;
}

.logo{
  font-family: "Lobster", sans-serif;
  width: auto;
  margin-left: 20px;
  font-size: 45px;
}

.logo a{
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 0.4px black;
}

.menu{
  display: inline-block;
  text-align: center;
  margin-right: 25px;
  
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  color: white;
  padding: 0 20px;
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
}

.efect{
  position: relative;
}

.efect::after{
  content: "";
  position: absolute;
  background-color: skyblue;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.efect:hover{
  color: skyblue;
}

.efect:hover::after{
  width: 100%;
}

.active{
  font-weight: bold;
}

.imagen-fondo{
  background-image: url(../img/header-img.jpg);
  height: 100%;
  min-height: 700px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
/* MENU. */

  /* FORMULARIO. */
  .form-register{
    width: 400px;
    background: #24303c;
    padding: 30px;
    border-radius: 4px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: white;
    box-shadow: 7px 13px 37px #000;
    position: absolute;
    top: 130px;
    left: 35%;
}
.form-register h4{
    font-size: 22px;
    margin-bottom: 20px;
}

.controls {
    width: 100%;
    background: #24303c;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid skyblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    color: white;
    }
    .form-register p{
        height: 40px;
        text-align: center;
        font-size: 16px;
        line-height: 40px;
    }
    .form-register a{
        color: white;
        text-decoration: none;
    }
    .form-register a:hover{
        color: white;
        text-decoration: underline
    }
    .form-register .botons{
        width: 100%;
        background: #5BC3FF;
        border: none;
        padding: 12px;
        color: white;
        margin: 16px 0;
        font-size: 16px;
        cursor: pointer;
    }

  /* FORMULARIO. */


  /* FOOTER */
footer{
    background-color: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
  }
  
  .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14;
  }
  
  .footer-container h3{
    font-family: "Lobster";
    font-size: 30px;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: white;
  }
  .socials a i{
    font-size: 1.1rem;
  }
  
  .socials a:hover i{
    color: skyblue;
  }
  
  .footer-bottom{
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  .footer-politica{
    text-align: center;
    margin-bottom: 10px;
  }
  .footer-politica a{
    font-size: 16px;
    color: white
  }
  .footer-politica a:hover{
    text-decoration: underline
  }
  /* FOOTER. */
  