@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@1,300&display=swap');

*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body{
  font-family: Georgia, 'Times New Roman', Times, serif;
}
/* MENU */
header{
  background-color: white;
  height: 100px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 220px;
}

.logo{
  font-family: "Lobster", sans-serif;
  width: auto;
  margin-left: 20px;
  font-size: 45px;
}

.logo a{
  color: white;
  text-decoration: none;
  -webkit-text-stroke: 0.4px black;
}

.menu{
  display: inline-block;
  text-align: center;
  margin-right: 25px;
}

.menu li{
  display: inline-block;
  text-align: center;
}

.menu li a{
  color: white;
  padding: 0 20px;
  display: block;
  font-size: 14px;
  letter-spacing: 2px;
}

.efect{
  position: relative;
}

.efect::after{
  content: "";
  position: absolute;
  background-color: skyblue;
  height: 3px;
  width: 0%;
  left: 0;
  bottom: -10px;
  transition: 0.3s;
}

.efect:hover{
  color: skyblue;
}

.efect:hover::after{
  width: 100%;
}

.active{
  font-weight: bold;
}

.imagen-fondo{
  background-image: url(../img/header-img.jpg);
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}
/* MENU. */

/* PRODUCTOS */
.title{
  text-align: center;
}
h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  text-align: center;
  padding-top: 20px;
  display: inline-block;
  position: relative;
}
h1::after,h1::before{
  content: "";
  position: absolute;
  width: 400px;
  height: 3px;
  background-color: black;
  top: 1.1em;
}
h1::before{
  left: -420px;
}
h1::after{
  right: -420px;
}

.product-container{
    width: 100%;
    display: flex;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}
.card{
    width: 100%;
    margin: 20px 20px 20px 20px;
    border-radius: 6px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translateY(-3%);
}
.card img{
    width: 100%;
    height: 310px;
}
.card .contenido{
    padding: 15px;
}
.card .contenido p{
    line-height: 1.5;
    color: grey;
}
.card .contenido h3{
    font-weight: 400px;
    margin-bottom: 15px;
}


.contenido{
    border-top: 1px solid rgb(230, 230, 230);
    padding: 1em;
    display: flex;
    flex-flow: column;
}
.contenido a{
  text-decoration: none;
  color: skyblue;
  -webkit-text-stroke: .3px black;

}
.nombre-producto{
    color: skyblue;
    font-weight: 600;
    max-width: max-content;
    border-radius: 3px;
    font-size: 18px;
}

.precio{
    font-size: 1.2em;
    text-align: left;
    margin-top: 8px;
}

.descripcion{
    font-weight: 300;
}

.ubicacion{
    font-weight: bold;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ubicacion, .descripcion{
    font-size: 0.9em
}

/* ICONOS */
.detalles{
  width: 250px;
  height: auto;
}
.icono img{
  width: 50px;
  height: auto;
  display: flex;
  margin: auto;
}

.texto{
  text-align: center;
}
/* ICONOS. */

/* PRODUCTOS. */

/* FOOTER */
footer{
    background-color: black;
    height: auto;
    width: 100%;
    padding-top: 40px;
    color: white;
  }
  
  .footer-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
  }
  
  .footer-container p{
    max-width: 500px;
    margin: 10px auto;
    line-height: 28px;
    font-size: 14;
  }
  
  .footer-container h3{
    font-family: "Lobster";
    font-size: 30px;
  }
  
  .socials{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 3rem 0;
  }
  
  .socials li{
    margin: 0 10px;
  }
  .socials a{
    text-decoration: none;
    color: white;
  }
  .socials a i{
    font-size: 1.1rem;
  }
  
  .socials a:hover i{
    color: skyblue;
  }
  
  .footer-bottom{
    background-color: black;
    width: 100%;
    padding-bottom: 20px;
    text-align: center;
  }
  
  .footer-bottom p{
    font-size: 14px;
    word-spacing: 2px;
    text-transform: capitalize;
  }
  
  .footer-bottom span{
    text-transform: uppercase;
    opacity: .4;
    font-weight: 200;
  }
  /* FOOTER. */